body {
  font: 14px/18px "Trebuchet MS", sans-serif;
  margin: 0;
  color: #525252;
  background-color: #fff;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.button {
  padding: 11px 16px;
}
